<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <dubbo:application name="provider"/>
    <!-- 注册中心的ip地址 -->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>
    <!-- 扫描注解包路径，多个包用逗号分隔，不填pacakge表示扫描当前ApplicationContext中所有的类 -->
    <dubbo:annotation package="com.zzd.provider.serviceImpl"/>
    <dubbo:protocol name="dubbo" port="20881"/>


    <bean id="userService" class="com.zzd.provider.serviceImpl.UserServiceImpl"/>
    <dubbo:service interface="com.zzd.api.service.UserService" ref="userService"/>
    <bean id="loginService" class="com.zzd.provider.serviceImpl.LoginServiceImpl"/>
    <dubbo:service interface="com.zzd.api.service.LoginService" ref="loginService"/>
    <bean id="mediaTypeService" class="com.zzd.provider.serviceImpl.MediaTypeServiceImpl"/>
    <dubbo:service interface="com.zzd.api.service.MediaTypeService" ref="mediaTypeService"/>
    <bean id="mediaWorkService" class="com.zzd.provider.serviceImpl.MediaWorkServiceImpl"/>
    <dubbo:service interface="com.zzd.api.service.MediaWorkService" ref="mediaWorkService"/>
    <bean id="jobService" class="com.zzd.provider.serviceImpl.JobServiceImpl"/>
    <dubbo:service interface="com.zzd.api.service.JobService" ref="jobService"/>
    <bean id="underRankService" class="com.zzd.provider.serviceImpl.UnderRankServiceImpl"/>
    <dubbo:service interface="com.zzd.api.service.UnderRankService" ref="underRankService"/>
    <bean id="bookmarkService" class="com.zzd.provider.serviceImpl.BookmarkServiceImpl"/>
    <dubbo:service interface="com.zzd.api.service.BookmarkService" ref="bookmarkService"/>
    <bean id="recommendService" class="com.zzd.provider.serviceImpl.RecommendServiceImpl"/>
    <dubbo:service interface="com.zzd.api.service.RecommendService" ref="recommendService"/>
    <bean id="discussService" class="com.zzd.provider.serviceImpl.DiscussServiceImpl"/>
    <dubbo:service interface="com.zzd.api.service.DiscussService" ref="discussService"/>
    <bean id="scoreRecordService" class="com.zzd.provider.serviceImpl.ScoreRecordImpl"/>
    <dubbo:service interface="com.zzd.api.service.ScoreRecordService" ref="scoreRecordService"/>

</beans>
